.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.canteen-button{
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.canteen-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    max-height: 300px;
    overflow-y: auto;
    margin: 50px 0 40px 0;
}
.navigation-buttons{
    display: flex;
    width: 80%;
}