body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page {
    min-height: 100vh;
    text-align: center;
    background-color: #fffdf3;
}

.food-craft-icon {
    height: 18vmin;
    padding-top: 50px;
    margin-bottom: -20px;
}

.google-maps-search-icon {
    height: 15vmin;
    margin-top: 26px;
    margin-bottom: 10px;
}

.heading {
    font-size: 40px;
    margin-bottom: -10px;
}

.sub-heading {
    font-size: 20px;
}

.continue-button {
    width: 50%;
    height: 50px;
    border-radius: 8px;
    border-width: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #f77958;
}

.back-button{
    width: 50%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
}