.welcome-paragraph {
    text-align: center;
}

.welcome-paragraph p {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dropdown-box {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.navigation-buttons {
    width: 100%;
}

.continue-button-welcome-page {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border-width: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #f77958;
}