:root {
    --rose-one: #fffdf3;
    --rose-two: #fddccd;
    --rose-three: #fcbba7;
    --rose-four: #fa9a81;
    --rose-five: #f97a59;

    --green-light: #9fcc87;
    --green-medium: #76a65d;
    --green-dark: #126343;
    --green-selected: #043f28;
}