@import url('Colors.css');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page {
    min-height: 100vh;
    text-align: center;
    background-color: var(--rose-one);
    font-family: 'Poppins', sans-serif;
}

.food-craft-icon {
    margin-top: 12vh;
    height: 18vmin;
    margin-bottom: -20px;
}

.google-maps-search-icon {
    height: 15vmin;
    margin-top: 26px;
    margin-bottom: 10px;
}

.heading {
    font-size: 40px;
    margin-bottom: -10px;
}

.sub-heading {
    font-size: 20px;
    font-weight: 500;
}

footer {
    width: 80%;
    padding-bottom: 8vh;
    margin-top: auto;
}

.continue-button {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border-width: 0;
    font-size: 18px;
    color: white;
    background-color: var(--rose-five);
    position: fixed;
    bottom: 13vh;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.back-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 20px;
    top: 50px;
    color: black;
    display: flex;
    align-items: center;
    column-gap: 6px;
}
root{
    overflow: hidden;
}
