@import url('Colors.css');

.homepage{
    min-height: 100vh;
    background-color: var(--rose-one);
}
.speiseplan-tag{
    margin: 0;
    color: white;
    font-size: 5vh;
    font-weight: 500;
}
.datum{
    color: white;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
}
.header{
    font-family: 'Poppins', sans-serif;
    background-color: var(--green-dark);
    height: 14vh;
    display: flex;
    flex-direction: column;
    padding: 1.8vh 2.5vh 0 2.5vh;
    z-index: 10;
}
.speiseplan-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weekDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 4px 0;
    color: white;
}
.weekDisplay p{
    margin: 0;
}
.arrow{
    height: 16px;
    margin: 0
}
.logo{
    height: 60px;
}
.header-tags{
    margin-left: 30px;
}
.meal-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 53vh;
    overflow: scroll;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: -1;
    padding-bottom: 10px;
}
.total-div{
    width: 100%;
    background-color: var(--green-light);
    position: fixed;
    bottom: 12vh;
}
.gesamtpreis{
    color: white;
    font-size: 30px;
    text-align: end;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 0;
}
.homebody{
    height: 90vh;
}
.nameDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.date{
    margin-right: 20px;
}
.week-date{
    color: white;
    margin-left: 60px;
}
.canteenName{
    margin-left: 20px;
    margin-right: 10px;
}
.veganIcon{
    height: 40px;
    margin: 0 5vw 0 0;
}
.buttonIcon{
    height: 22px;
    margin-bottom: 5px;
}
.footer-button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 20px 10px 20px;
    padding: 8px 6px 6px 6px;
    border-radius: 4px;
    width: 78px;
}
.footer-button p {
    margin: 0;
}
.selected{
    background-color: var(--green-selected);
}
.select{
    height: 5vh;
}
.weekdays-buttons{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 0 0;
    width: 100%;
}
.weekday-button {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2.5vh;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    width: 13vw;
}
.weekday-button.current-day {
    background-color: var(--green-medium);
}
.weekday-button.selected {
    background-color: var(--green-selected);
}
.changeWeekButton{
    background-color: transparent;
    border: none;
    padding: 0;
}
.meal-type-selection {
    width: 90%;
    margin: auto;
}
.no-menu-icon{
    height: 30px;
    margin: 0 10px 0 10px;
}
.no-menu-div{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.infoIcon{
    height: 3.5vh;
    margin: 0;
}
.infoButton{
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
}
.infoModal{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
.infoModalContent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    overflow: scroll;
}
.infoDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 4vw;
    margin: 3vh 0 2vh 0;
}
.infoDiv p {
    margin: 0;
    font-size: 1.7vh;
}
.infoHeader{
    display: flex;
    justify-content: space-between;
}
.infoHeader h2{
    margin: 0;
    font-size: 2.5vh;
}
.closeButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.closeImg{
    height: 2vh;
    width: 2vh;
}
.additives{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    background-color: transparent;
    border: none;
    padding: 0;
}
.badgeButton{
    margin: 1vh 0 0 0;
    background-color: transparent;
    border: none;
    padding: 0;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12vh;
    background-color: var(--green-dark);
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 0;
}
body{
    overflow: hidden;
}