@import url('Colors.css');

.mealName{
    font-family: 'Poppins', system-ui;
    font-weight: bold;
    font-size: 14px;

}
.mealButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 4px;
    border-style: solid;
    color: black;
    font-family: 'Poppins', system-ui;
    border-color: var(--green-medium);
}
.mealPrice{
    font-family: 'Poppins', system-ui;
}
.mealButton-active{
    background-color: var(--green-light);
    color: white;
}
.mealNameCo2Div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
}
.badgeImg{
    width: 20px;
    height: 20px;
    margin: 2px 4px 0 0;
}
button{
    -webkit-appearance: none;
}
/*
.mealButton{
    height: 100px;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/