.dropdown-box-default{
    width: 100%;
}
.dropdown-box-canteen{
    width: 90%;
}
.homebody-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    height: 71.6vh;
}
.userSettingsDiv{
    width: 90%;
}
.dropBox{
    width: 100%;
    margin-top: 2vh;
}
.dropBox2{
    width: 100%;
    margin-top: 2vh;
}
.dropBox3{
    width: 100%;
    margin-top: 2vh;
}
.guthaben-Div{
    margin: 0 0 3vh 0;
    width: 90%;
}
.guthaben-tag{
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 1.5vh 0;
}
.guthaben{
    font-size: 4vh;
    margin: 0 0 1.5vh 0;
}
.guthaben-button{
    width: 100%;
    margin: 0;
    background-color: var(--rose-five);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    border: none;
    height: 5vh;
    border-radius: 6px;
}
.save-button{
    width: 100%;
    margin: 4vh 0 0 0;
    background-color: var(--rose-five);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    border: none;
    height: 5vh;
    border-radius: 6px;
}