.university-selection-top-margin {
    margin-top: 105px;
}

.or-paragraph {
    margin-bottom: 20px;
}

.dropdown-box {
    margin-bottom: 20px;
    width: 80%;
}
.selectNearestButton{
    width: 80%;
    height: auto;
    border-radius: 8px;
    border-width: 0;
    font-size: 2vh;
    color: white;
    background-color: var(--rose-five);
    font-family: 'Poppins', sans-serif;
    padding: 1vh 2vh 1vh 2vh;
    font-weight: 500;
    position: fixed;
    bottom: 14vh;
    left: 10%;
}
footer{
    margin-bottom: auto;
}