.welcome-page-top-margin {
    margin-top: 105px;
}
.welcome-paragraph{
    margin: 40px 10vw 50px 10vw;
    text-align: left;
    font-size: 1.8vh;
}

.dropdown-box{
    text-align: left;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 30vh;
    width: 90%;
}

.button-container {
    width: 100%;
}

.desktop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    text-align: left;
    padding: 10px;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}
.ModalContent{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.continue-desktop-button {
    background-color: #f77958;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.continue-desktop-button:hover {
    background-color: #ef4e26;
}
.qrCodeImg{
    width: 250px;
    height: auto;
    margin-top: 20px;
}
.deviceToken{
    width: 80%;
}