.welcome-page-top-margin {
    margin-top: 105px;
}

.welcome-paragraph {
    text-align: center;
}

.welcome-paragraph p {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dropdown-box {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.button-container {
    width: 100%;
}

.desktop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.desktop-modal button {
    background-color: #f77958;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.qrCodeImg{
    width: 250px;
    height: auto;
    margin-top: 20px;
}
