.welcome-paragraph {
    text-align: center;
}

.welcome-paragraph p {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dropdown-box {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

.button-container {
    width: 100%;
}
