@import url('../styles/Colors.css');

.label {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    color: black;
}

.select {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--green-light);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

option:checked {
    background-color: var(--green-light); /* Change as needed */
}